@import "cart";
@import "menu";
header {
    background-color: #43b1d2;
}

.header_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header_phone {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    margin-bottom: 7px;
}
.img_phone {
    margin-right: 10px;

}
.header_logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
}
.header_logo_img {
    margin-right: 15px;
}
.banner {
    background-image: url(images/banner.jpg);
    height: 516px;
}

.banner__content {
    text-align: right;
    padding-top: 70px;
}
.banner__text {
    max-width: 500px;
    margin-left: auto;
}
.banner__text__button {
    font-size: 18px;
    font-weight: bold;
}
.banner__services {
    background-image: url(images/Services.png);
    height: 360px;
    display: flex;
    align-items: center;
}
.menu_main_page {
    list-style: none;
    display: flex;
    padding-right: 20px;
}
.menu_main_page {
    color: #494848;
    text-decoration: none;
}
.table {
    border-spacing: 100px
}

.cabinet_button {
    display: flex;
    background-color: #cbd4e6;
    color: #000000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.button_centre {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centre_line {
    border: 2px solid #e3e6ea;
    padding: 15px;
}